.weui-navbar__item:after{
    border:0px
}
/*message_details*/
.weui-form-preview__hd{
    padding:5px 16px
}
.weui-form-preview__label,.weui-form-preview__value{
    font-size: 0.9rem !important;
}
.weui-form-preview__bd{
    text-align: left;
    font-size: 1rem;
}
.cardFooter{
    font-size: 0.9rem;
    padding-left:16px
}
/*message_add*/
.weui-cell{
    align-items: flex-start;
}
.weui-form__opr-area{
    margin-top:30px
}
.weui-cell_vcode{
    background: white;
}
.messageContent .weui-cell{
    font-size: 1rem;
}
.weui-form__control-area{
    margin-top: 0px!important;
}